.main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 332px;
    height: 222px;
}
.img{
    border-radius: 20px;
}
.sub {
    color:#000000;
  }
.strong {
    color: rgb(233, 97, 37);
}



